@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.hide-question h2 {
  animation-name: fadeOut;
  animation-duration: 0.6s;
}
.hide-question li {
  animation-name: flipLeftOut;
  animation-duration: 0.5s;
}
.hide-question li:nth-child( 9) {
  animation-delay: 0.45s;
}
.hide-question li:nth-child( 8) {
  animation-delay: 0.4s;
}
.hide-question li:nth-child( 7) {
  animation-delay: 0.35s;
}
.hide-question li:nth-child( 6) {
  animation-delay: 0.3s;
}
.hide-question li:nth-child( 5) {
  animation-delay: 0.25s;
}
.hide-question li:nth-child( 4) {
  animation-delay: 0.2s;
}
.hide-question li:nth-child( 3) {
  animation-delay: 0.15s;
}
.hide-question li:nth-child( 2) {
  animation-delay: 0.1s;
}
.hide-question li:nth-child( 1) {
  animation-delay: 0.05s;
}
.show-question h2 {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.show-question li {
  animation-name: flipLeftIn;
  animation-duration: 0.5s;
}
.result-wrap {
  animation-name: flipTopIn;
  animation-duration: 0.5s;
}
@keyframes flipLeftIn {
  from {
    -webkit-transform: perspective(400) rotateY(-90deg);
    -moz-transform: perspective(400) rotateY(-90deg);
    -ms-transform: perspective(400) rotateY(-90deg);
    -o-transform: perspective(400) rotateY(-90deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(400) rotateY(-90deg);
    -moz-transform: perspective(400) rotateY(-90deg);
    -ms-transform: perspective(400) rotateY(-90deg);
    -o-transform: perspective(400) rotateY(-90deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400) rotateY(0deg);
    -moz-transform: perspective(400) rotateY(0deg);
    -ms-transform: perspective(400) rotateY(0deg);
    -o-transform: perspective(400) rotateY(0deg);
  }
}
@keyframes flipLeftOut {
  from {
    -webkit-transform: perspective(400) rotateY(0deg);
    -moz-transform: perspective(400) rotateY(0deg);
    -ms-transform: perspective(400) rotateY(0deg);
    -o-transform: perspective(400) rotateY(0deg);
  }
  40% {
    -webkit-transform: perspective(400) rotateY(90deg);
    -moz-transform: perspective(400) rotateY(90deg);
    -ms-transform: perspective(400) rotateY(90deg);
    -o-transform: perspective(400) rotateY(90deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: perspective(400) rotateY(90deg);
    -moz-transform: perspective(400) rotateY(90deg);
    -ms-transform: perspective(400) rotateY(90deg);
    -o-transform: perspective(400) rotateY(90deg);
  }
}
@keyframes flipTopIn {
  from {
    -webkit-transform: perspective(400) rotateX(-90deg);
    -moz-transform: perspective(400) rotateX(-90deg);
    -ms-transform: perspective(400) rotateX(-90deg);
    -o-transform: perspective(400) rotateX(-90deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  60% {
    -webkit-transform: perspective(400) rotateX(-90deg);
    -moz-transform: perspective(400) rotateX(-90deg);
    -ms-transform: perspective(400) rotateX(-90deg);
    -o-transform: perspective(400) rotateX(-90deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400) rotateX(0deg);
    -moz-transform: perspective(400) rotateX(0deg);
    -ms-transform: perspective(400) rotateX(0deg);
    -o-transform: perspective(400) rotateX(0deg);
  }
}
@keyframes flipTopOut {
  from {
    -webkit-transform: perspective(400) rotateX(0deg);
    -moz-transform: perspective(400) rotateX(0deg);
    -ms-transform: perspective(400) rotateX(0deg);
    -o-transform: perspective(400) rotateX(0deg);
  }
  40% {
    -webkit-transform: perspective(400) rotateX(90deg);
    -moz-transform: perspective(400) rotateX(90deg);
    -ms-transform: perspective(400) rotateX(90deg);
    -o-transform: perspective(400) rotateX(90deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: perspective(400) rotateX(90deg);
    -moz-transform: perspective(400) rotateX(90deg);
    -ms-transform: perspective(400) rotateX(90deg);
    -o-transform: perspective(400) rotateX(90deg);
  }
}
@keyframes fadeIn {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  20% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.stButton * {
  box-sizing: content-box;
}
html {
  height: 100%;
  background: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  background: #3d6a5f;
  background-image: url('media/body-bcg-crazy.jpg');
  background-position: 50% 10%;
  background-size: 130%;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
.header {
  width: 100%;
  background: #3c3260;
  display: inline-block;
  padding: 10px 20px;
}
.header h1 {
  font-size: 1em;
  color: #ffffff;
}
.nav {
  width: 100%;
  background: #514481;
  color: #000000;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.nav li {
  list-style: none;
  line-height: 25px;
  font-size: 14px;
  display: inline-block;
}
.nav li a {
  text-decoration: none;
  color: #ffffff;
  padding: 7px 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.7em;
  text-transform: uppercase;
  display: inline-block;
}
.nav li a:hover {
  background: #3c3260;
}
.nav li.social-top {
  margin: 6px 5px 0 0;
  float: right;
}
.progress-graphic {
  height: 3px;
  position: relative;
  width: 100%;
  background: #322a4f;
}
.progress-graphic .progress-done {
  background: #75e896;
  height: 100%;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
}
.progress-numeric {
  font-size: 0.7em;
  margin: 0 10px;
  color: #fff;
}
.progress-numeric b {
  color: #75e896;
}
.transition-wrapper > div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.intro-wrap,
.question-wrap,
.result-wrap {
  width: 100%;
  margin: 4em auto 0;
  text-align: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  color: #ffffff;
  z-index: 10;
}
.intro-wrap .text-dump,
.question-wrap .text-dump,
.result-wrap .text-dump {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-size: 0.9em;
}
.intro-wrap .text-dump .highlighted,
.question-wrap .text-dump .highlighted,
.result-wrap .text-dump .highlighted {
  font-size: 0.85em;
  line-height: 1.2em;
}
p.highlighted {
  background: #3d6a5f;
  color: #b2dbd1;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.intro-image {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 0;
  z-index: -1;
  display: block;
  overflow: hidden;
}
.intro-image img {
  display: block;
  position: relative;
  bottom: -50px;
}
.start-button {
  display: inline-block;
  background: #fca307;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: perspective(400) rotateX(20deg) translateY(0.5em) translateZ(1em);
  -moz-transform: perspective(400) rotateX(20deg) translateY(0.5em) translateZ(1em);
  -ms-transform: perspective(400) rotateX(20deg) translateY(0.5em) translateZ(1em);
  -o-transform: perspective(400) rotateX(20deg) translateY(0.5em) translateZ(1em);
}
.start-button:hover {
  background: #ffb637;
  -webkit-box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
  -webkit-transform: perspective(400) rotateX(0deg) translateY(0em) translateZ(0em);
  -moz-transform: perspective(400) rotateX(0deg) translateY(0em) translateZ(0em);
  -ms-transform: perspective(400) rotateX(0deg) translateY(0em) translateZ(0em);
  -o-transform: perspective(400) rotateX(0deg) translateY(0em) translateZ(0em);
}
.question-wrap {
  position: relative;
}
.question-wrap .col-main {
  width: 60%;
  position: absolute;
  top: 0;
  left: 10%;
}
.question-wrap .col-sidebar {
  position: absolute;
  top: 0;
  right: 10%;
  width: 20%;
  padding-bottom: 50px;
}
.question-wrap ul {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
}
.question-wrap ul li {
  list-style: none;
  display: table;
  float: left;
  height: 80px;
  vertical-align: middle;
  width: 33.3%;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.question-wrap ul li span {
  height: 80px;
  background: #8fcbbd;
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.share-icons {
  margin-bottom: 15px;
}
.custom-st-button {
  display: inline-block;
  margin: 0 2px;
}
.custom-st-button .button {
  display: block;
  padding: 5px;
  cursor: pointer;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.custom-st-button .button.facebook {
  background: #3c5a99;
  background-image: url('http://infinityrebar.com/images/1443485500-Facebook.png');
  background-size: 15px;
  background-position: 5px center;
  padding-left: 18px;
  background-repeat: no-repeat;
}
.custom-st-button .button.pinterest {
  background: #c82828;
  background-image: url('https://cache.addthiscdn.com/icons/v2/thumbs/32x32/pinterest.png');
  background-size: 15px;
  background-position: 5px center;
  padding-left: 18px;
  background-repeat: no-repeat;
}
.stBubble {
  height: 44px;
  margin: 5px 0 2px;
  background-repeat: no-repeat;
  color: #4d4d4d;
  width: 60px;
  overflow: hidden;
  background: url("http://w.sharethis.com/share4x/images/bubble_arrow_below.png") no-repeat 10px 40px;
  line-height: 16px;
}
.stBubble_count {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  width: 58px;
  height: 40px;
  font-family: Verdana, Helvetica, sans-serif;
  color: black;
  position: relative;
  z-index: -1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #d5d5d5;
  background: -moz-linear-gradient(top, #d5d5d5 0, #efefef 48%, #ffffff 94%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(48%, #efefef), color-stop(94%, #ffffff));
}
.result-wrap {
  width: 80%;
  min-width: 500px;
  max-width: 800px;
}
@media (min-width: 600px) {
  .question-wrap ul li span:hover {
    background: #fca307;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 600px) {
  body {
    overflow: auto;
    background-position: 50% 75%;
    background-size: 230%;
  }
  .intro-wrap,
  .question-wrap,
  .result-wrap {
    margin: 1.5em auto 0;
  }
  .question-wrap .col-main {
    width: 90%;
    right: 5%;
    left: 5%;
  }
  .question-wrap ul {
    margin-bottom: 100px;
  }
  .question-wrap ul li {
    width: 100%;
  }
  .question-wrap ul li span {
    min-height: 40px;
    height: auto;
  }
  .question-wrap ul:after {
    content: '';
    display: block;
    clear: both;
  }
  .result-wrap {
    width: 90%;
    margin: 0 auto;
    min-width: auto;
    max-width: auto;
  }
  .result-wrap h2 {
    font-size: 1em;
  }
  .col-sidebar {
    display: none;
  }
}
