body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

.header {
  width: 100%;
  background: grey;
  display: inline-block;
  padding: 10px 30px;
}

.header h1 {
  font-size: 24px;
  color: #fff;
}

.nav {
  width: 100%;
  background: orange;
  padding: 0;
  margin: 0;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-right: 2px solid white;
  font-size: 14px;
  display: inline-block;
}

.nav li a:hover {
  background: red;
}

.intro-wrap, .question-wrap, .result-wrap {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.question-wrap ul li {
  list-style: none;
  display: block;
  background: darkblue;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.question-wrap ul li:hover {
  background: purple;
}

.result-wrap {

}
